* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.ico binary
*.ttf binary
*.otf binary
*.apk binary
*.aab binary
*.aar binary
*.jar binary
*.so binary
*.dex binary
*.zip binary
*.7z binary
*.p12 binary
*.jks binary
*.keystore binary
